<H1 class="text-center">Welcome to the Rock - Paper - Scissors Server</H1>

<div class="row">

    <div class="col-xs-5 text-center">
        <input type="text" class="form-control" placeholder="Player A" ng-model="players.A"/>
        <div class="plays">
            <i class="icon icon-radio-checked"></i>
            <i class="icon icon-file"></i>
            <i class="icon icon-scissors"></i>
        </div>
    </div>
    <div class="col-xs-2 scores">
        <label>{{home.scores.playerA}}</label> <label>{{home.scores.playerB}}</label>

    </div>

    <div class="col-xs-5 text-center">
        <input type="text" class="form-control" placeholder="Player B" ng-model="players.B"/>
        <div class="plays">
            <i class="icon icon-radio-checked"></i>
            <i class="icon icon-file"></i>
            <i class="icon icon-scissors"></i>
        </div>
    </div>
</div>